* .pyc  #### Ignore Python compilations ###
venv/   ### Ignore virtual environments maybe needed in the future to deal with different versions of Django in the same project ###
.idea/  ### Ignore data from PyCharms ###
